<h2>
  volverse organizado se siente mejor con
  <h2>open spaces</h2>
</h2>
<article>
  <img src="./assets/images/icon_1.png" alt="Imagen de productos" />
  <h3>lo que necesitas</h3>
  <p>una linea de productos diseñados para todos tus espacios</p>
</article>

<article>
  <img src="./assets/images/Biodegradable bag.png" alt="Imagen reciclaje" />
  <h3>materias primas sustentables</h3>
  <p>una linea de productos diseñados para todos tus espacios</p>
</article>

<article>
  <img src="./assets/images/Park.png" alt="Imagen guía" />
  <h3>guia</h3>
  <p>soporte y asesoramiento para ayudarte con tu objetivo</p>
</article>
