
    <footer>
        <nav>
          <ul>
            <h4>tienda</h4>
            <li><a href="">productos</a></li>
            <li><a href="">cajoneras</a></li>
            <li><a href="">para toda la casa</a></li>
            <li><a href="">habitaciones</a></li>
          </ul>
        </nav>
  
        <nav>
          <ul>
            <h4>nosotros</h4>
            <li><a href="">nuestra guia</a></li>
            <li><a href="">nuestro diseño</a></li>
            <li><a href="">nuestra historia</a></li>
            <li><a href="">ayuda</a></li>
          </ul>
        </nav>
  
        <nav>
          <ul>
            <h4>contacto</h4>
            <li><a href="">ayuda@openspaces.com</a></li>
            <li><a href="">socios</a></li>
            <a href=""></a
            ><i class="fa-brands fa-linkedin-in"></i>
            <a href=""></a
            ><i class="fa-brands fa-instagram"></iclass>></i>
            <a href=""></a><i class="fa-brands fa-instagram"></i>
          </ul>
        </nav>
  
        <a href=""></a><i class="fa-solid fa-arrow-up"></i>
      </footer>