
    <footer class="footer">
        <nav class="footer__nav-shop">
          <ul class="footer__nav-shop__ul">
            <h4 class="footer__nav-shop__ul__title">tienda</h4>
            <li><a class="footer__nav-shop__ul__link" href="https://adalab.es/" target="_blank">productos</a></li>
            <li><a class="footer__nav-shop__ul__link" href="https://adalab.es/"target="_blank">cajoneras</a></li>
            <li><a class="footer__nav-shop__ul__link" href="https://adalab.es/"target="_blank">para toda la casa</a></li>
            <li><a class="footer__nav-shop__ul__link" href="https://adalab.es/"target="_blank">habitaciones</a></li>
          </ul>
        </nav>
  
        <nav class="footer__nav-us">
          <ul class="footer__nav-us__ul">
            <h4 class="footer__nav-us__ul__title">nosotros</h4>
            <li><a class="footer__nav-us__ul__link" href="https://adalab.es/"target="_blank">nuestra guia</a></li>
            <li><a class="footer__nav-us__ul__link" href="https://adalab.es/"target="_blank">nuestro diseño</a></li>
            <li><a class="footer__nav-us__ul__link" href="https://adalab.es/"target="_blank">nuestra historia</a></li>
            <li><a class="footer__nav-us__ul__link" href="https://adalab.es/"target="_blank">ayuda</a></li>
          </ul>
        </nav>
  
        <nav class="footer__nav-contact">
          <ul class="footer__nav-contact__ul">
            <h4 class="footer__nav-contact__ul__title">contacto</h4>
            <li><a class="footer__nav-contact__ul__link--mail" href="mailto:hola@adalab.es">ayuda@openspaces.com</a></li>
            <li><a class="footer__nav-contact__ul__link" href="https://adalab.es/"target="_blank">socios</a></li>
          </ul>
          <a class= "footer__nav-contact__ul__icons" href="https://www.linkedin.com/school/adalab/?originalSubdomain=es" target="_blank" title="Ir a Linkedin"><i class="fa-brands fa-linkedin-in"></i></a
            >
            <a class= "footer__nav-contact__ul__icons" href="https://www.instagram.com/adalab_digital/?hl=es"target="_blank" title="Ir a Instagram"><i class="fa-brands fa-instagram"></iclass></i></a
            >
            <a class= "footer__nav-contact__ul__icons" href="https://twitter.com/Adalab_Digital?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"target="_blank" title="Ir a Twitter"><i class="fa-brands fa-twitter"></i></a>
          </nav>
        <a class="footer__arrow" href="#top_header" title="Volver arriba"><i class="fa-solid fa-arrow-up"></i></a>

      </footer>