<header class="header" id="top-header">
  <img
    class="header__logo"
    src="./assets/images/logo.png"
    alt="Logo open spaces"
  />
  <a class="header__menuHamburguer" href="https://adalab.es/" target="_blank"
    ><i class="fa-solid fa-bars"></i
  ></a>
  <nav>
    <ul class="header__menu">
      <li><a class="header__menu__link" href="">productos</a></li>
      <li><a class="header__menu__link" href="">colecciones</a></li>
      <li><a class="header__menu__link" href="">tienda</a></li>
      <li><a class="header__menu__link" href="">inicio</a></li>
    </ul>
  </nav>

  <h1 class="header__title">Disfruta creando espacios</h1>

  <button type="button" class="header__button">Comprar ahora</button>
  <div class="header__image"></div>
</header>
