<header id="top_header">
  <img
    src="./assets/images/header.jpg"
    alt="Imagen de fondo de productos varios"
  />
  <img src="./assets/images/logo.png" alt="Logo open spaces" />
  <a href="https://adalab.es/" target="_blank"
    ><i class="fa-solid fa-bars"></i
  ></a>
  <nav>
    <ul>
      <li><a href="">productos</a></li>
      <li><a href="">colecciones</a></li>
      <li><a href="">tienda</a></li>
      <li><a href="">inicio</a></li>
    </ul>
  </nav>

  <h1>disfruta creando espacios</h1>
  <button>comprar ahora</button>
</header>
