.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-family: $font-family;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;

  &__logo {
    width: 213px;
    margin-top: 19px;
  }
  &__menuHamburguer {
    width: 24px;
    color: $color-fonts;
    text-decoration: none;
    position: fixed;
    top: 55px;
    left: 33px;
  }

  &__menu {
    /*position: fixed;
    top: 76px;
    left: 280px;
    display: flex;
    justify-content: center;
    align-items: center;*/
    display: none;

    &__link {
      text-decoration: none;
      text-transform: capitalize;
      color: $color-fonts;
      font-size: 16px;
    }
  }

  &__title {
    margin-top: 215px;
    margin-bottom: 24px;
    color: #0c474b;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    bottom: 30%;
  }

  &__button {
    width: 176px;
    height: 48px;
    padding: 12px 24px;
    margin-bottom: 64px;
    color: $color-white;
    background-color: $color-fonts;
    font-size: 16px;
    font-weight: 600;
    border: none;
    position: absolute;
    bottom: 10%;
  }
  &__button:hover {
    background-color: $color-section2;
    color: $color-fonts;
  }
}
